<div class="page-header">
	<h1>Madhouse Local</h1>
</div>

<div class="alert alert-success">
	user profile
</div>
<ul>
	<% @madhouse_local_urls.each do |site, url|  %>
		<li>
			<a href="<%= url %>" target="_blank"><%= site %> : user profile</a>
		</li>
	<% end %>
</ul>


<div class="alert alert-success">
  user follow
</div>
<ul>
	<% @user_follow_local_urls.each do |site, url|  %>
		<li>
			<a href="<%= url %>" target="_blank"><%= site %> : user follow</a>
		</li>
	<% end %>
</ul>


<div class="page-header">
	<h1>Madhouse Test</h1>
</div>

<div class="alert alert-success">
	madhouse user profile
</div>
<ul>
	<% @madhouse_urls.each do |site, url|  %>
		<li>
			<a href="<%= url %>" target="_blank"><%= site %> : user profile</a>
		</li>
	<% end %>
</ul>


<div class="alert alert-success">
  madhouse user follow
</div>
<ul>
	<% @user_follow_urls.each do |site, url|  %>
		<li>
			<a href="<%= url %>" target="_blank"><%= site %> : user follow</a>
		</li>
	<% end %>
</ul>