<h1>BshareOne API <%= server %></h1>

<ul>
  <li><a target="_blank" href="<%= @bsyncCustomizeEmbed %>">bsyncCustomizeEmbed</a></li>
  <li><a target="_blank" href="<%= @publisherStatisticsEmbed %>">publisherStatisticsEmbed</a></li>
  <li><a target="_blank" href="<%= @websiteCustomizeEmbed %>">websiteCustomizeEmbed</a></li>
  <li><a target="_blank" href="<%= @bsyncCustomizeManagerEmbed %>">bsyncCustomizeManagerEmbed</a></li>
</ul>
