<div class="page-header">
	<h1>Bshare API <%= server %></h1>
</div>

<ul>
	<li><%= link_to 'User Follower API', @user_follower_url, { 'target' => '_blank' } %></li>
	<li><%= link_to 'User Active Follower API', @user_active_follower_url, { 'target' => '_blank' } %></li>
	<li><%= link_to 'User Profile API', @user_profile_url, { 'target' => '_blank' } %></li>

</ul>

<h3 class="page-header">user active follower <button class="btn btn-primary active-api-btn">active</button></h3>
<ul>
  <% @user_active_follower_urls.each do |site, url| %>
    <li>
      <%= link_to site, url, :class =>"api-link" %>
    </li>
  <% end %>
</ul>

<script type="text/template" id="response-template">
  <div class="api-response">
    <p>{{request_url}}</p>
    <p>{{response}}</p>
  </div>
</script>