
<div class="page-header">
  <h1>Bshare Button</h1>
</div>

<ul>
	<li>
		<%= link_to "Bshare Lite Button", "/bshare_button/lite" %>
	</li>
	<li>
		<%= link_to "Bshare Plus Button", "/bshare_button/plus" %>
	</li>
	<li>
		<%= link_to "Bshare Plus Jifenbao Button", "/bshare_button/plus_jifenbao" %>
	</li>
</ul>


<div class="page-header">
  <h1>Bshare Local Button</h1>
</div>

<ul>
	<li>
		<%= link_to "Bshare Lite Local Button", "/bshare_button/lite_local" %>
	</li>
	<li>
		<%= link_to "Bshare Plus Local Button", "/bshare_button/plus_local" %>
	</li>
	<li>
		<%= link_to "Bshare Plus Local Jifenbao Button", "/bshare_button/plus_local_jifenbao" %>
	</li>
</ul>
